{% extends 'base.html.twig' %}

{% block title %}Hello ActualitesController!{% endblock %}

{% block body %}
      <!-- Page Heading -->
      <h1 class="my-4">Actualites a la une 
        <small>Secondary Text</small>
      </h1>
{% for article in articles %}
      <!-- Project One -->
      <div class="row">
        <div class="col-md-4">
          <a href="#">
            <img class="img-fluid rounded mb-2 mb-md-0" src="https://via.placeholder.com/728x350" alt="">
          </a>
        </div>
        <div class="col-md-8">
          <h3>{{ article.titre }}</h3>
          <p>{{ article.contenu |slice(0, 240) }}..</p>
          {{ article.titre |slug }}
          <a class="btn btn-primary" href="#">Continuer la lecture</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>
    {% endfor %}

    {{ knp_pagination_render(articles) }}
    {% endblock %}
